/* Banner */
.banner-bg{
    background: var(--dark-color); 
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: end;
    overflow: hidden;
    position: relative;
}
.banner-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to right , #0b081dff 10%, #0b081d00);  
    z-index: 1;
  }
.lines{
   display: flex;
   gap: 50px; 
}
.line{
    width: 1.5px;
    background-color: rgba(252, 252, 252, 0.1);
    height: 500px;
    animation: play 3s infinite linear;
}
@keyframes play {
    from {
        transform: translateY(-100px);
      }
      to {
        transform: translateY(100vh);
      }  
}

.banner-bg .banner-path{
    position: absolute;
    bottom: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: var(--light-color);
    font-weight: 600;
    font-size: var(--font-size-xs);
    z-index: 2;
    text-transform: capitalize;
}
.first-path{
    color: var(--second-color);
}
.second-path{
    color: var(--main-color);
}

/* Contact Page */

iframe{
    width: 100%;
    height: 300px;
}
.container-contact{
    
    position: relative;
}
.up-div{
    animation: upMove 1s forwards ;
}
@keyframes upMove {
    from{
        margin-top: 0px;
    }to{
        margin-top: -100px;
    }
}
.card-content-contact{
    width: 100%;
    border-radius: 10px;
    background-color: var(--light-color);
}
.card-contact{
    height: 100%;
    border-radius: 10px;
    border: 1px solid var(--grey-color);
    text-transform: capitalize;
    transition:  0.5s ;
}
.card-contact:hover{
    transform: translateY(10px)
}
.card-contact h3{
    font-size: var(--font-size-l);
    font-weight: 600;
    color: var(--second-color);
}
.card-contact p{
    font-size: var(--font-size-xs);
    color: var(--more-grey-color);
    text-align: center;
}
.line-contact{
    height: 2px;
    width: 40%;
    background-color: var(--main-color);
    position: relative;
}

.form-contact{
    display: flex;
}
.form-contact h3{
    font-size: var(--font-size-xl);
    color: var(--main-color);
    font-weight: 600;
}
.form-contact h2{
    font-size: var(--font-size-3xl);
    color: var(--second-color);
    font-weight: 700;
}
.form-contact p{
    font-size: var(--font-size-s);
    color: var(--more-grey-color);
}
.first-contact{
    width: 100%;
}
.second-contact{
    width: 100%;
}
.second-contact input{
    box-shadow: var(--shadow-box);
    width: 100%;
    border-radius: 10px;
    height: 60px;
    padding-left: 10px;
    outline: none;
}
.second-contact textarea{
    box-shadow: var(--shadow-box);
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    outline: none;
}
.second-contact button:hover{
    box-shadow: var(--shadow-box);
}

/* About Page */
.about-page{
    display: flex;

}
.about-first{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-info{
    display: flex;
}
.card-info{
    width: 100%;
    background: linear-gradient(to left , var(--main-color),var(--yellow-color));
    border-radius: 10px;
    color: var(--light-color);
}
.card-info div:nth-child(2){
    font-size: var(--font-size-xl);
    font-weight: 800;
}
.card-info path{
    fill: var(--light-color);
}
.card-info h3{
    font-size: var(--font-size-l);
    font-weight: 800;
    text-transform: capitalize;
    text-align: center;
}
.upDiv{
    animation: upDiv forwards 0.5s linear;
    transform: translateY(50px);
}
@keyframes upDiv {
    from{
        transform: translateY(50px);

    }to{
        transform: translateY(0);
    }
}
.about-second{
    width: 100%;

}
.about-second h1{
    font-size: var(--font-size-3xl);
    font-weight: 700;
    line-height: 3rem;
    color: var(--second-color);
}
.about-second h2{
    color: var(--main-color);
    font-size: var(--font-size-s);
    font-weight: 600;
}
.first-row-info{
    display: flex;
    width: 100%;
}
.second-row-info{
    display: flex;
    width: 100%;
}
/* News Page */
.card-news-animation{
    animation: upDiv 0.5s forwards linear;
}
.card-news-page{
    width: 400px;
}
.container-card-news-page{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:20px
}
/* 404 Page */
.page-404{
    background-color: var(--dark-color);
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.page-404 h1{
    color: var(--light-color);
    font-size: 15rem;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.card-404{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    background-color: #0b081da8;
    backdrop-filter: blur(1px);
    box-shadow: 5px 5px 9px 0px #ffffff40;
    border-radius: 10px;
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
}
/* Details News */
.details-news{
    display: flex;
    position: relative;
}
.details-news-first{
    width: 60%;
}
.details-news-first h1{
    font-size: var(--font-size-xxl);
    font-weight: 600;
    line-height: 3rem;
}
.details-news-first img{
    border-radius: 20px;
    width: 100%;
}
.details-news-first path{
    fill : var(--main-color);
    
}
.details-news-first svg{
    width: 25px ;
}
.info-details{
    color: var(--more-grey-color);
    font-weight: 500;
    font-size: var(--font-size-xxs);
}
.details-news-second{
    width: 40%;
    border: 1px solid var(--light-grey-color);
    border-radius: 10px;
    position: sticky;
    top: 120px;
}
.details-news-second h2{
    font-size: var(--font-size-l);
    font-weight: 700;
}
.card-details-news{
    display: flex;
    cursor: pointer;

}
.card-details-news h3{
    font-size: var(--font-size-s);
    line-height: 1.5rem;
    font-weight: 500;
}
.card-details-news:hover h3{
    color: var(--yellow-color);
}
.card-details-news img{
    /* border-radius: 10px; */
    height: 100px ;
    width: 150px ;
    object-fit: cover;
}
.card-details-news-first{
    width: 30%;
}
.card-details-news-second{
    width: 70%;
}
.card-details-news-second path{
    fill: var(--grey-color);
}
.card-details-news-date{
    font-size: var(--font-size-xxs);
    color: var(--more-grey-color);
}

.end-card{
    height: 1px;
    background-color: var(--light-grey-color);
    margin: 20px auto;
}
/* artical */
.artical h2{
    color : var(--dark-color);
    font-size: var(--font-size-l);
    font-weight: 500 !important;
    margin-top: 15px;
    margin-bottom: 5px;
}
.artical h3{
    color : var(--second-color);
    font-size: var(--font-size-s);
    font-weight: 500 !important;
    margin-top: 15px;
    margin-bottom: 5px;
}
.artical .parent{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.artical .parent .first{
    width: 50%;
}
.artical .parent .second{
    width: 50%;
}

.artical p{
    font-size: var(--font-size-xs);
    color: var(--more-grey-color);
    font-weight: 400;
}
.artical ol li{
    color: var(--main-color);
    font-weight: 500;
    position: relative;
    padding-left: 10px;
    margin: 10px 0;
}
.artical ol li::before{
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-color);
}

@media (max-width:1200px) {
    /* about-page */
    .about-page {
        flex-direction: column-reverse;
        gap: 15px;
    }
    .container-info{
        display: block;
    }
    .first-row-info{
        margin-bottom: 25px;
    }
    /* Details News */
    .details-news{
        display: block;
    }
    .details-news-first{
        width: 100%;
        margin-bottom: 20px;
    }
    .details-news-first h1{
        font-size: var(--font-size-xxl);
        line-height: 2rem;
    }
    .details-news-second{
        width: 100%;
    }
}
@media (max-width:900px) {
    /* News Page */
        .card-news-page{
            width: 350px;
        }

    
}
@media (max-width:800px) {
    /* Banner */
    .banner-bg{
        height: 250px;}
    /* Contact Page */
    .form-contact{
        display: block;
    }
    .first-contact{
        margin-bottom: 15px;
    }
    /* News page */
    .card-news-page{
        width: 300px;
    }


}

@media (max-width:700px) {
    /* contact Page */
    .container-contact{
        display: block;
    }
    .form-contact h3{
        font-size: var(--font-size-xl);
    }
    .form-contact h2{
        font-size: var(--font-size-xxl);
    }
    .form-contact p{
        font-size: var(--font-size-xs);
    }
    /* Banner */
    .banner-bg{
    /* background: url("../images/bg_large.jpg"); */
    height: 250px;

}
    /* About Page */
    .years-logo {
        width: 300px;
        height: 200px;
    }
    /* News Page */
    .card-news-page{
        width: 100%;
        margin-bottom: 20px;
    }

    .container-card-news-page{
        display: block;
    }

}
@media (max-width:600px) {
    /*404 Page  */
    .page-404{
        height: 500px;
    }
    .page-404 h1{
        color: var(--light-color);
        font-size: 10rem;
    }
    .card-404{
        top: 65%;
        width: 250px;
        height: 150px;
    }
    /* Artical */
    .artical .parent{
        display: block;
        align-items: center;
        margin: 15px 0;
    }
    .artical .parent .first{
        width: 100%;
        margin-bottom: 10px;
    }
    .artical .parent .first img{
        height: 250px;
        object-fit: contain;
    }
    .artical .parent .second{
        width: 100%;
        
    }
}
@media (max-width:450px) {
    /* contact Page */
    .form-contact h3{
        font-size: var(--font-size-xl);
    }
    .form-contact h2{
        font-size: var(--font-size-xxl);
        line-height: 2rem;
    }
    .form-contact p{
        font-size: var(--font-size-xs);
    }
    /* About Page */
    .about-second h1{
        font-size: var(--font-size-xxl);
        line-height: 2rem;
    }
    .about-second p{
        font-size: var(--font-size-xs);
    }
    .first-row-info{
        flex-wrap: wrap;
    }
    .second-row-info{
        flex-wrap: wrap;
    }
    /* Details News */
    .details-news-second h3{
       font-size: var(--font-size-xxs);
       line-height: 1rem;
    }
}
@media (max-width:320px) {
    /* About Page */
    .years-logo {
        width: 250px;
        height: 200px;
    }    
    /* 404 Page */
    .page-404{
        height: 450px;
    }
    .page-404 h1{
        color: var(--light-color);
        font-size: 8rem;
    }
    .card-404{
        top: 70%;
        width: 200px;
        height: 150px;
    }

}